.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 70px !important;
}

.prev-slide {
  /* background: url("../../assets/left.png") no-repeat scroll 0 0; */
  /* background-color: red; */
  left: 20px;
  /* z-index: 999; */
}
.next-slide {
  /* background: url("../../assets/right.png") no-repeat scroll -24px 0px; */
  /* background-color: red; */
  right: 20px;
  /* z-index: 999; */
}
.prev-slide:hover {
  background-position: 0px -53px;
}
.next-slide:hover {
  background-position: -24px -53px;
}
