body {
  font-family: latin-100,arabic-100,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #fff;
  overflow-x: hidden;
  background: url(https://starzplay-img-prod-ssl.akamaized.net/prd-peg-data/default/images/starzplay-bg.jpg) no-repeat 100% 0 #070707;
  background-size: 100% auto;
  margin: 0;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
